.cartmain{
    position: fixed;
    height: 100vh;
    width:  100vw;
    top: 0;
    background-color: rgba(0, 0, 0, 0.208);
    z-index: 1075;
}
.cartitem{
    position: fixed;
    top: 05%;
    right: 0;
    width: 35vw;
    height: 100vh;
    overflow-y: scroll;
}

.cartcross{
    position: relative;
    left: 90%;
    display: block;
}
.cartsingleplus{
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    border: 2px #e4434373;
}
.csimg{
    width: 80px;
    height: 80px;
    margin-left: 1rem;
}