.categorylist{
    display: grid;
    grid-template-rows: repeat(2,150px);
    grid-template-columns: repeat(auto-fit,300px);
}
.categoryimg{
    width: 120px;
    object-fit: cover;
}
.pointer-event{
    cursor: pointer;
}
.brandinglist{
   display: grid;
   grid-template-rows: repeat(auto-fit,100px);
   grid-template-columns: repeat(auto-fit,300px);
}