.searchinput{
    outline: none;
}
.topright p{
    color: whitesmoke;
    background-color: black;
    flex: 2;
    margin-right: 6px;
}
.topleft{
    flex: 2;
    margin-left: 32px;
}
.topcenter{
    flex: 4;
}